* {
    background-color: green;
}
#Container {
    display: flex;
}

body {
    text-align: center;
    border: 35px solid black;
}

form {
   margin-top: 5px;
}

.todoDisplay{ 
    border: 10px solid black;
    align-items: center;
    flex-direction: column;
    height: 200px;
    width: 300px;
    display: flex;
    align-content: center;
    margin: 30px;
}

.todoDisplay :hover {
    background-color: lightcoral;
}